.App {
  text-align: center;
}
.header {
  text-align: center;
  color: rgb(107, 8, 8);
  background-color: rgb(246, 178, 77);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
img {
  width: 150px;
  display: block;
  margin: 50px auto;
}
