.App {
  text-align: center;
}
button {
  margin: 100px auto;
  display: block;
}
.DIVRED {
  margin: 100px auto;
  width: 40px;
  background-color: red;
  text-align: center;
}
.DIVBLUE {
  margin: 100px auto;
  text-align: center;
  width: 40px;
  background-color: blue;
}
